/* ===========================================
            Masthead contact
============================================ */
#masthead-contact {
    background: url("../images/masthead-contact.jpg") no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(158, 103, 179, .60);
    background-size: cover;
    @extend #masthead;

    @media (min-width: $toast-breakpoint-medium) {
        background-position: -100%;
    }
}
