/* ===========================================
                Basic Styles
============================================ */
* {
    box-sizing: border-box;
}

html, body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

$light-grey: #D7D1D1;
$dark-grey: #666666;
$secondary: #2691CD;
$primary: #9E67B3;
$black: #3E3E3E;
$white: #FFFFFF;
$red: #EA4049;

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.clearfix:before,
.clearfix:before {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
    width: 85%;

    @media (min-width: $toast-breakpoint-medium) {
        width: 90%
    }
}

.inner-narrow {
    padding: 40px 0;
    margin: 0 auto;
    width: 85%;

    @media (min-width: $toast-breakpoint-medium) {
        width: 60%
    }
}

.alert, .notice {
    text-align: center;
}

.center {
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
}

.text-center { text-align: center; }
.inner { @extend .container; }
.bold { font-weight: 600; }
.hidden { display: none; }

p {
    color: $dark-grey;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: $dark-grey;
}

/* ===========================================
                    Titles
============================================ */
.title {
    text-transform: uppercase;
    @extend .text-center;
    padding: 40px 0;
    font-size: 40px;
    @extend .bold;
    color: $black;
    margin: 0;

    @media (min-width: $toast-breakpoint-medium) {
        font-size: 60px;
    }
}

.title-left {
    text-align: left;
    @extend .title;
}

.title-normal {
    text-transform: uppercase;
    @extend .text-center;
    padding: 40px 0;
    @extend .bold;
    color: $black;
    margin: 0;
}

/* ===========================================
                Buttons
============================================ */
.button {
    border-radius: 2px;
    padding: 15px 20px;
    height: 50px;
    border: 0;
}

.button-primary {
    transition: 500ms background ease-in-out;
    background: $primary;
    @extend .button;
    color: $white;

    &:hover {
        background: darken($primary, 10%);
    }
}

.button-secondary {
    transition: 500ms background ease-in-out;
    background: $secondary;
    @extend .button;
    color: $white;

    &:hover {
        background: darken($secondary, 10%);
    }
}

.button-red {
    transition: 500ms background ease-in-out;
    background: $red;
    @extend .button;
    color: $white;

    &:hover {
        background: darken($red, 10%);
    }
}

.button-border {
    transition: 500ms background ease-in-out;
    border: 2px solid $white;
    padding: 10px 20px;
    @extend .button;
    color: $white;

    &:hover {
        background: $white;
    }
}

/* ===========================================
            Main Navigation
============================================ */
#main-navigation {
    position: relative;
    min-height: 100px;
    z-index: 999;

    .navigation-left {
        padding: 17px 0;
        float: left;

        img {
            height: 60px;
        }
    }

    $bar-width: 40px;
    $bar-height: 2px;
    $bar-spacing: 10px;

    .hamburger-menu {
        height: $bar-height + $bar-spacing*2;
        position: absolute;
        width: $bar-width;
        margin: auto;
        right: -70%;
        bottom: 0;
        left: 0;
        top: 0;
    }

    .bar,
    .bar:after,
    .bar:before {
        height: $bar-height;
        width: $bar-width;
    }

    .bar {
        transform: translateY($bar-spacing);
        background: rgba(255, 255, 255, 1);
        transition: all 0ms 300ms;
        position: relative;

        &.animate {
            background: rgba(255, 255, 255, 0);
        }
    }

    .bar:before {
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        background: rgba(255, 255, 255, 1);
        bottom: $bar-spacing;
        position: absolute;
        content: "";
        left: 0;
    }

    .bar:after {
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: $bar-spacing;
        content: "";
        left: 0;
    }

    .bar.animate:before {
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transform: rotate(-45deg);
        bottom: 0;
    }

    .bar.animate:after {
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transform: rotate(45deg);
        top: 0;
    }

    .navigation-right {
        padding: 37px 0;
        display: none;
        float: right;

        a {
            margin-right: 0;
            font-size: 14px;
            color: $white;

            &:hover {
                color: $black;
            }
        }
    }

    @media (min-width: $toast-breakpoint-medium) {
        .hamburger-menu { display: none; }
        .navigation-right {
            display: block;

            a { margin-right: 15px; }
        }
    }
}

.navigation-right.active {
    display: block !important;
    background: $primary;
    position: absolute;
    margin-top: 95px;
    z-index: 999;
    width: 100%;
    left: 0;

    a {
        text-align: center;
        padding: 16px 0;
        display: block;
    }

    .button-border {
        padding: 15px 0;
        margin: 0 20px;
        width: 90%;
    }
}
/* ===========================================
                Masthead
============================================ */
#masthead {
    margin-top: -122px;
    height: 300px;
    z-index: -999;

    .inner {
        @extend .text-center;
        @extend .center;
        margin: 0;

        h1, h4 {
            color: $white;
        }

        h1 {
            text-transform: uppercase;
            padding-top: 50px;
        }
    }
}

/* ===========================================
              Block sections
============================================ */
.block {
    @extend .text-center;
    padding-bottom: 60px;

    p { padding-bottom: 40px; }

    .button-red {
        padding: 15px 100px;
    }

    @media (min-width: $toast-breakpoint-medium) {
        p {
            margin: 0 auto;
            width: 960px;
        }
    }
}

/* ===========================================
                    Forms
============================================ */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    border: 2px solid $light-grey;
    margin: .5em 0 2em 0;
    max-width: 100%;
    padding: 1em;
    width: 100%;
    height: 3.5em;
}

input[type='number'] {
    height: 3.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    max-height: 20em;
    resize: none;
    height: 20em;
}

input[type="submit"] {
    border: 2px solid $light-grey;
    background: transparent;
    text-decoration: none;
    text-align: center;
    color: $dark-grey;
    padding: 0 2em;
    font-size: 1em;
    outline: none;

    &:hover {
        border: 2px solid #3E606F;
        color: #3E606F;
    }
}
