/* ===========================================
            Masthead help center
============================================ */
#masthead-help {
    background: linear-gradient(135deg, rgba(147,112,219,.50) 0%,rgba(0,206,209,.50) 100%), url("../images/masthead-help.jpg") no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(158, 103, 179, .60);
    background-size: cover;
    @extend #masthead;

    @media (min-width: $toast-breakpoint-medium) {
        background-position: -100% 0;
    }
}

/* ===========================================
            Contact options
============================================ */
#contact-options-section {
    @extend .text-center;
    padding: 60px 0;

    a {
        transition: 700ms color ease-in-out;
        font-weight: normal;
        font-size: 40px;
        margin: 0;

        p { margin-top: 15px; }

        &:hover { color: #3E606F; }
    }

    .twitter {
        &:hover { color: #55acee; }
    }

    @media (min-width: $toast-breakpoint-medium) {
        a {
            font-size: 60px;
            margin: 0 24px;
        }
    }
}
