/* ===========================================
            Masthead help center
============================================ */
#masthead-help {
    background: $primary;
    @extend #masthead;
}

#contact-options-section {
    @extend .text-center;
    padding: 60px 0;

    a {
        transition: 700ms color ease-in-out;
        font-weight: normal;
        text-align: center;
        font-size: 21px;
        margin: 0 24px;

        p { margin-top: 15px; }

        &:hover {
            color: $primary;
        }
    }

    .twitter {
        &:hover { color: #55acee; }
    }

    @media (min-width: $toast-breakpoint-medium) {
        a { font-size: 60px; }
    }
}
