/* ===========================================
            Masthead learning
============================================ */
#masthead-learn {
    background: #3E606F;
    @extend #masthead;
}

.sales-pitch {
    @extend .block;

    p {
        padding-bottom: 60px;
        text-align: left;
    }

    .button-red {
        background: #3E606F;

        &:hover { background: darken(#3E606F, 10%); }
    }
}
