/* ===========================================
            Masthead learning
============================================ */
#masthead-learn {
    @extend #masthead;
    background: $red;
}

.sales-pitch {
    @extend .block;

    p {
        padding-bottom: 60px;
        text-align: left;
    }
}
